@charset "UTF-8";
*{
	margin:0;
	padding:0;

}
body{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.box{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:100px auto;
	width:320px;
	height:600px;
	border-top: 2px solid rgba(0,0,0,1);
	border-bottom: 2px solid rgba(0,0,0,1);
	border-left: 2px solid rgba(0,0,0,1);
	border-right: 2px solid rgba(0,0,0,1);
	background-color: white;
}
.box .input-box >input{
	color:black;
	font-size:14px;
	border-radius:3px;
	width:150px;
}
.box >hr{
	width:280px;
}
.box .btn-box > input{
	width:50px;
	height:30px;
}